
{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {% for product in products %}
        <div class="elrow">
            <div id="mazalo"><img src="{{ asset('images/images/') }}{{ product.images }}"></div>
            <p id="p1">{{ product.name }}</p>
            <p id="cena1" >{{ product.price }}</p><br>

            <p id="likeMessage"></p>
            <div id="likesDiv">
                <button class="likesButton" name="likesButton"><img src="{{ asset('images/images/like.jpg') }}" width="20px" height="20px"></button>
                <input class="likesQuantity" readonly="readonly">
                <input class="unlikesQuantity" readonly="readonly">
                <button class="unlikesButton" name="unlikesButton" ><img src="{{ asset('images/images/dislike.jpg') }}" width="20px" height="20px">/button>
            </div>
            <input id="kol" type="number" value="1" min="1" max="10" name="kolicina">
            <button class="ElrowButton"  name="add">Dodaj u korpu</button>
            <a href="{{ path('app_details', {id: '1'}) }}"><button class="ElrowButton" name="dettails">Detaljnije</button></a>
        </div>
        {% endfor %}
    </div>

{% endblock %}